body {
    font-family: 'Space-Grotesk', sans-serif;
    overflow: auto;
}
header {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .navbar-nav {
    display: absolute;
    gap: 20px;
}

header .navbar-brand {
    gap: 50px;
    display: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
}

header .navbar-brand img {
    height: auto;
    width: 150px;
    margin-right: 60px;
}

header .navbar-nav .nav-link {
    color: #222;
    padding: 10px;
    text-decoration: none;
}

header .navbar-nav .btn-outline-success {
    width: 124px;
    margin-left: 20px;
    border-radius: 14px;
    border: 1.5px solid #97B815;
}

/* botão login */
.btn-outline-success {
    border-radius: 40px;
    background-color: transparent;
    --bs-btn-color: #97B815;
    --bs-btn-border-color: #97B815;
    --bs-btn-hover-bg: #97B815;
    --bs-btn-hover-border-color:var(--bs-btn-border-color);
}


main {
    padding: 40px 50px;
    padding-top: 80px; 
}

.intro {
    margin-bottom: 40px;
}

.intro h2 {
    font-size: 40px;
    color: #000;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #F3F3F3;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid black;
    border-bottom: 6px solid black;
    flex: 1;
    max-width: 300px;
}

.card h3 {
    color: #b1ce56;
    font-size: 22px;
    margin-bottom: 15px;
}

.card p {
    font-size: 15px;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
    color: #b1ce56;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}
