<head>
    

</head>
<html>
        <header class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="logo navbar-brand" href="../Home/home.html">
                    <img src="../Imgs/Logo.png" alt="Eco Project Logo">
                </a>
                <nav class="header__navigation">
                <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="insane collapse navbar-collapse" id="navbarNav">
                    <ul class="itens navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/eco-project/Home/home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/eco-project/Artigo/artigo.html">Artigos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Page Projetos/projeto.html">Projetos</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../Cadastro_Projeto/cad-projeto.html">Faça Parte</a>
                            </li>
                            <a class="loginb nav-link btn btn-outline-success" href="../Login/login.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            </nav>
        </header>
    
</html>