body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #f9f9f9;
    color: #222;
    text-align: center;            
    margin-bottom: 20px;        
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 500px; 
    padding: 0 20px;
}

.card {
    border: 1px solid #226133;
    background-color: white;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 400px; 
    text-align: left;
}

.card h3 {
    font-family: 'Space Grotesk', sans-serif;
}

.form-label {
    padding: 5px;
}
.form-control {
    border-radius: 12px;
    padding: 12px;
}
.btn-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-success {
    color: white;
    background-color: #226133;
    border-color: #226133;
    border-radius: 40px;
    font-weight: bold;
    --bs-btn-color: #226133;
    --bs-btn-border-color: #226133;
    --bs-btn-hover-bg: #3e9756;
    --bs-btn-hover-border-color:var(--bs-btn-border-color);
}

.btn-outline-success {
    border-radius: 40px;
    background-color: transparent;
    --bs-btn-color: #226133;
    --bs-btn-border-color: #226133;
    --bs-btn-hover-bg: #3e9756;
    --bs-btn-hover-border-color:var(--bs-btn-border-color);
}

.container {
    margin: 0 auto;
}

h3 {
    font-family: 'Arial', sans-serif;
    color: #222;
    text-align: center;            
    margin-bottom: 20px;          
}

form a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;              
}

form a:hover {
    text-decoration: underline;
}
#response {
    color: green;
}
