* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background-color: #FFFFFF;
    color: #333333;
}

header {
    display: flex;
    padding: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .navbar-brand {
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
}

header .navbar-brand img {
    width: 150px;
    height: auto;
    margin-right: 60px;
}

header .navbar-nav {
    display: flex;
    gap: 20px;
}

header .navbar-nav .nav-link {
    color: #222;
    text-decoration: none;
    padding: 10px;
}

header .navbar-nav .btn-outline-success {
    width: 124px;
    border-radius: 14px;
    margin-left: 20px;
    border: 1.5px solid #97B815;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    padding: 8px 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #B7C54C;
}

.login-button {
    padding: 8px 16px;
    border: 1px solid #B7C54C;
    border-radius: 5px;
    color: #B7C54C;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
    background-color: #B7C54C;
    color: #fff;
}

.news-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1c1c1e;
}

.news-description {
    font-size: 1rem;
    color: #5a5a5a;
}

.news-image1 {
    height: 125px;
    object-fit: cover;
}

.news-image2 {
    height: 125px;
    object-fit: cover; 
}

.news-image3 {
    height: 115px;
    object-fit: cover;
    
   
}

.news-image4 {
    height: 125px;
    object-fit: cover;
}

.news-card {
    border: none;
    margin-bottom: 3rem;
}

main {
    padding: 45px;
}
main h2, main p {
    text-align: center;
}


